@mixin breakpoint($point, $value: 0) {

    @if $point == xs {
        @media screen and (max-width: $xs-max) {
            @content;
        }
    }

    @else if $point == sm {
        @media screen and (min-width: $sm-min) {
            @content;
        }
    }

    @else if $point == md {
        @media screen and (min-width: $md-min) {
            @content;
        }
    }

    @else if $point == lg {
        @media screen and (min-width: $lg-min) {
            @content;
        }
    }

    @else {
        @media screen and ($point: $value) {
            @content;
        }
    }
}

@mixin breakpoint-between($start-point, $end-point) {
    @media screen and (min-width: $start-point) and (max-width: $end-point) {
        @content;
    }
}

%triangle-arrow {
    margin-left: -$datepicker__triangle-size;
    position: absolute;

    &,
    &::before {
        box-sizing: content-box;
        position: absolute;
        border: $datepicker__triangle-size solid transparent;
        height: 0;
        width: 1px;
    }

    &::before {
        content: "";
        z-index: -1;
        border-width: $datepicker__triangle-size;
        left: -$datepicker__triangle-size;
        border-bottom-color: $datepicker__border-color;
    }
}

%triangle-arrow-up {
    @extend %triangle-arrow;
    top: 0;
    margin-top: -$datepicker__triangle-size;

    &,
    &::before {
        border-top: none;
        border-bottom-color: $datepicker__background-color;
    }

    &::before {
        top: -1px;
        border-bottom-color: $datepicker__border-color;
    }
}

%triangle-arrow-down {
    @extend %triangle-arrow;
    bottom: 0;
    margin-bottom: -$datepicker__triangle-size;

    &,
    &::before {
        border-bottom: none;
        border-top-color: #fff;
    }

    &::before {
        bottom: -1px;
        border-top-color: $datepicker__border-color;
    }
}