.auth-for-logged-user {
    text-align: center;
    font-size: 2vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: $gradient;
    font-weight: bold;
    margin-top: 5vw;
}
