.changing-password {
    margin-top: 4vw;
    float: left;
    position: relative;
    left: -webkit-calc(50% - 12.5vw);
    left: -moz-calc(50% - 12.5vw);
    left: calc(50% - 12.5vw);

    input {
        background-color: #ffffff;
        width: 25vw;
        display: inline-block;
        margin-top: 1vw;
        height: 2.5vw;
        border-radius: 10px;
        padding-left: 1vw;
        font-family: $font;
        font-size: 1.2vw;
        border: 1px solid grey;

        &:focus {
            outline: none;
        }
    }

    &__password {
        background-image: url(../../images/padlock_icon.png);
        background-repeat: no-repeat;
        background-size: 7%;
        background-position-y: center;
        background-position-x: 95%;
    }

    &__validation-error {
        display: inline-block;
        margin-left: 4vw;
        font-size: 1.5vw;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: $gradient;
        font-weight: bold;
    }

    &__message {
        text-align: center;
        margin-top: 3vw;
        font-weight: bold;
        width: 23vw;
        border-radius: 10px;
        padding: 1vw;
        font-size: 1.2vw;

        &--error {
            border: 1px solid #9e0909;
        }

        &--success {
            border: 1px solid $sea-color;
        }
    }

    label {
        padding-left: 1vw;
        font-size: 1.5vw;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: $gradient;
        font-weight: bold;
        width: 25vw;
        display: block;
        margin-top: 2vw;
        padding-left: 1vw;
    }

    &__button {
        display: block;
        text-align: center;
        margin-top: 3vw;
        border-radius: 10px;
        width: 13vw;
        height: 3vw;
        font-family: $font;
        font-size: 1.5vw;
        margin-bottom: 4vw;
        margin-left: 6vw;
        border: none;
        text-decoration: none;
        color: $white;
        background-image: $gradient;

        &:focus {
            outline: none;
        }

        &:disabled {
            text-decoration: none;
            color: #b1b1b1;
            background-image: linear-gradient(to bottom, rgba(82,196,226, 0.7) 0%,rgba(19,95,63,0.7) 100%);
        }
    }
}
