.logging {
    margin-top: 4vw;

    input {
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff;
        width: 25vw;
        display: block;
        margin-top: 1vw;
        height: 2.5vw;
        border-radius: 10px;
        padding-left: 1vw;
        font-family: $font;
        font-size: 1.2vw;

        &:focus {
            outline: none;
        }
    }

    label {
        margin-left: auto;
        margin-right: auto;
        padding-left: 1vw;
        font-size: 1.5vw;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: $gradient;
        font-weight: bold;
        width: 25vw;
        display: block;
        margin-top: 2vw;
        padding-left: 1vw;
    }

    button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        margin-top: 3vw;
        border-radius: 10px;
        width: 13vw;
        height: 3vw;
        font-family: $font;
        font-size: 1.5vw;
        margin-bottom: 4vw;
        border: none;
        text-decoration: none;
        color: $white;
        background-image: $gradient;

        &:focus {
            outline: none;
        }
    }

    &__login {
        background-image: url(../../images/user_icon.png);
        background-repeat: no-repeat;
        background-size: 7%;
        background-position-y: center;
        background-position-x: 95%;
    }

    &__password {
        background-image: url(../../images/padlock_icon.png);
        background-repeat: no-repeat;
        background-size: 7%;
        background-position-y: center;
        background-position-x: 95%;
    }

    &__error {
        text-align: center;
        margin-top: 3vw;
        font-weight: bold;
        border: 1px solid #9e0909;
        width: 24vw;
        border-radius: 10px;
        padding: 1vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2vw;
    }

    &__auth-needed {
        text-align: center;
        font-size: 1.5vw;
        margin-bottom: 3vw;
    }

    &__remind-password {
        text-align: center;
        font-size: 1.5vw;
        margin-bottom: 3vw;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: $gradient;
            font-weight: bold;
        }
    }

    &__register-now {
        text-align: center;
        margin-bottom: 4vw;
        font-size: 1.5vw;

        &--link {
            text-decoration: underline;
            color: white;

            &:hover {
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: $gradient;
                font-weight: bold;
            }
        }
    }

    &__remind-password-message {
        text-align: center;
        margin-top: 3vw;
        font-weight: bold;
        width: 24vw;
        border-radius: 10px;
        padding: 1vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2vw;
        margin-bottom: 2vw;

        &--error {
            border: 1px solid #9e0909;
        }

        &--success {
            border: 1px solid $sea-color;
        }
    }

    &__loader {
        margin: 3vw auto 2vw;
        font-size: 2vw;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: $gradient;
        font-weight: bold;
        width: 25vw;

        > div {
            margin-top: 1.2vw;
            position: absolute;
            width: 1vw;
            height: 1vw;
            background-image: $gradient;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }

        .first-dot {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
            margin-left: 1vw;
        }

        .second-dot {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
            margin-left: 2.5vw;
        }

        .third-dot {
            margin-left: 4vw;
        }

        @-webkit-keyframes sk-bouncedelay {
            0%, 80%, 100% {
                -webkit-transform: scale(0)
            }

            40% {
                -webkit-transform: scale(1.0)
            }
        }

        @keyframes sk-bouncedelay {
            0%, 80%, 100% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            40% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
            }
        }
    }
}
