.renting-filters {
    border: 1.5px solid transparent;
    border-image: $gradient;
    margin: 2vw;
    margin-top: 4vw;
    padding: 3.5vw;
    padding-top: 5vw;
    border-image-slice: 1;
    font-size: 1.8vw;
    position: relative;
}
